<%- include("Partials/header"); -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label for="postTitle">Title</label>
    <input class="form-control" type="text" name="postTitle">
    <label for="postBody">Post</label>
    <textarea class="form-control"  type="text" name="postBody" rows="5" value=""></textarea>
  </div>

  <button type="submit" class="btn btn-primary" name="button">Publish</button>

</form>


<%- include("Partials/footer"); -%>
